{% set page = {
  title: 'About me'
} %}

{% extends "layouts/default.html" %}

{% block content_primary %}

  <form action="my_coach">

    <h1 class="heading-xlarge">{{ page.title }}</h1>
    
    {{
      elements_form.text_field({
        id: 'name',
        label: {
          text: 'Name and surname'
        }
      })
    }}

    {{
      elements_form.text_field({
        id: 'nino',
        label: {
          text: 'National insurance number'
        }
      })
    }}

    {{
      elements_form.text_field({
        id: 'contactdetails',
        label: {
          text: 'Contact details'
        }
      })
    }}

    {% call elements_form.group() %}
      {{ elements_button.start({ type: 'submit' }) }}
    {% endcall %}

</form>

{% endblock %}
