{% macro default(config) %}
  {% set text = config.text | d('Start now') %}
  {% set classes = "button" | setClasses(config.metaData) %}
  {% if config.type == "submit" %}
    <input class="{{ classes }}" role="button" type="submit" value="{{ text }}">
  {% else %}
    <a class="{{ classes }}" href="{{ config.url | d('#') }}" role="button">{{ text }}</a>
  {% endif %}
{% endmacro %}

{% macro start(config) %}
  {{ default(config | deeperMerge({ metaData: { modifiers: ['start'] } })) }}
{% endmacro %}
