{% macro hidden_text(config) %}
<details>
  <summary><span class="summary">{{ config.summary | d('Summary title here') }}</span></summary>
  <div class="panel {{ config.border_width | d('panel-border-narrow') }}">
    {% if caller %}
      {{ caller(config) }}
    {% else %}
      <p>{{ config.text | d('You need to provide some text in the config object passed to this macro') }}</p>
    {% endif %}
  </div>
</details>
{% endmacro %}

{% macro list(config) %}
  {% if config.items %}
    {% for item in config.items %}
      {% if loop.first %}
        <ul class="{{ 'list' | setClasses(config.metaData) }}">
      {% endif %}
          <li>
            {% if item.url %}<a href="{{ item.url }}">{% endif %}{{ item.text | d(item) }}{% if item.url %}</a>{% endif %}
          </li>
      {% if loop.last %}
        </ul>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro list_bullet(config) %}
  {{
    list(config | deeperMerge({
      metaData: { modifiers: ['bullet'] }
    }))
  }}
{% endmacro %}

{% macro list_number(config) %}
  {{
    list(config | deeperMerge({
      metaData: { modifiers: ['number'] }
    }))
  }}
{% endmacro %}
