{% import "macros/govuk_elements/buttons.html" as elements_button %}
{% import "macros/govuk_elements/typography.html" as elements_type %}
{% import "macros/govuk_elements/forms.html" as elements_form %}

{% extends "govuk_template.html" %}

{# automatically add version string to body class removing spaces for dashes #}
{% block body_classes %}{{ proto.version | trC(' ',"-") | lower }}{% endblock %}

{% block page_title %}{{ page.title  + ' - ' + serviceName }}{% endblock %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  {% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block body_end %}
  {% include "includes/scripts.html" %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}

{#
  By default all content pages will be two thirds + one third.
  having the the nested block structure makes the pages DRYer.
  This can be overriden by flat-out using 'content' or
  you can set page variables for layout.primary & layout.secondary
  to adjust the two columns if you need to.
#}
{% block content %}

    <main id="content" role="main">

    {% block main %}
      <div class="grid-row">

        <div class="column-{{ page.layout.primary | d('two-thirds' )}}">
          {% block content_primary %}

          {% endblock %}
        </div>

        {% if content_secondary %}
          <div class="column-{{ page.layout.primary | d('one-third' )}}">
            {% block content_secondary %}

            {% endblock %}
          </div>
        {% endif %}

      </div>

    {% endblock %}

    </main>

{% endblock %}
